<!-- 
# File: create_surf_session.html
# Author: Paul Martin Enano (enano1@bu.edu) November 13th, 2024
# Description: A page to create surf sessions.
-->

{% extends 'tide/base.html' %}
{% block content %}
<body class="location-body">
    <div class="location-content-wrapper">
<h2>New Surf Session</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" >Save</button>
</form>
<a href="{% url 'surf_sessions' %}" class="surf-session-button" >Back to Surf Sessions</a>
</div>
</body>
{% endblock %}
