<!-- 
# File: all_friends.html
# Author: Paul Martin Enano (enano1@bu.edu) November 14th, 2024
# Description: A page to create a comment.
-->

{% extends 'tide/base.html' %}

{% block content %}
<body class="forms-body">
<div class="content-wrapper">
    <div class="forms">
        <h2>Create a Comment</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit Comment</button>
        </form>
    </div>
</div>
</body>
{% endblock %}
