{% extends 'tide/base.html' %}

{% block content %}
    <h2>{{ welcome_message }}</h2>
    <div class="dashboard-content">
        <p>This is your dashboard where you can start working on the next part of your project.</p>

        <!-- Show login/create account if not authenticated -->
        {% if not request.user.is_authenticated %}
            <p><a href="{% url 'login' %}">Log in</a> or <a href="{% url 'create_profile' %}">Create an Account</a> to connect with others.</p>
        {% endif %}
        
        <!-- Main Dashboard Content for All Users -->
                <a href="{% url 'show_all_profiles' %}">View All Profiles</a>
                <a href="{% url 'show_profile' request.user.profile.pk %}">View Your Profile</a>
                <a href="#">Start Next Project Phase</a>
        </div>
    </div>
{% endblock %}
