{% extends 'tide/base.html' %}

{% block title %}Dashboard - We Tide{% endblock %}
{% block content %}
<body class="dashboard-body">
<div class="dashboard">
    <div class="dashboard-header">
        <h1>{{ welcome_message }}</h1>
        <p>Welcome to your personalized dashboard. Stay on top of your surfing activities and goals.</p>
    </div>
    {% comment %} <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="link">Logout</button>
    </form> {% endcomment %}
    <!-- Next Steps Section -->
    <div class="dashboard-section next-steps recent-activity">
        <div style="text-align: center;">
            <h2>Dashboard</h2>

            <p>
                <a href="{% url 'all_friends' %}" class="link">View Friends</a><br>
                <a href="{% url 'location_input' %}" class="link">Find Nearest NOAA Station</a><br>
                <a href="{% url 'saved_locations' %}" class="link">View Saved Surf Spots</a><br>
            </p>
            <h2>Recent Activity</h2>
        </div>
        {% if recent_surf_sessions %}
            <ul>
                <div style="text-align: center;">
                    <a style="margin-bottom: 20px;" href="{% url 'surf_sessions' %}" class="link">View All Your Surf Sessions</a><br>
                    <a style="margin-bottom: 20px;" href="{% url 'surf_sessions_public' %}" class="link">View Public Surf Sessions</a>

                    {% for session in recent_surf_sessions %}
                    <li>
                        <strong>{{ session.surf_spot.nickname }}</strong> 
                        on {{ session.date }} - 
                        Rating: {{ session.wave_rating }}
                        <a style="float: right;" href="{% url 'view_surf_session' session.pk %}" class="link">View Details</a>
                    </li>
                {% endfor %}
            </ul>
            
        {% else %}
            <p style="color: white">No recent surf sessions. <a href="{% url 'create_surf_session' %}" class="link">Log a new session</a>.</p>
        {% endif %}
    </div>

    </div>
</div>
</body>
{% endblock %}
