<!-- 
# File: login.html
# Author: Paul Martin Enano (enano1@bu.edu) November 11th, 2024
# Description: A page to login.
-->

{% extends 'tide/base.html' %}

{% block content %}
<body class="login">
    <h2>Login</h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>  
        <button class="create-account-btn"><a style="display: block; width: 100%;" href="{% url 'create_profile' %} ">Create an Account</a></button>
        

    </form>
    

</body>
{% endblock %}
{% block for_nav %}False{% endblock %}