{% extends 'tide/base.html' %}
{% load static %}

{% block content %}
<body class='forms-body'>
    <div class="content-wrapper">
    <div class="news-feed-container" style="margin-top: 20px;">
        {% if news_feed %}
            {% for message in news_feed %}
                <div class="news-feed-item">
                    <div class="news-feed-profile-info">
                        <a href="{% url 'show_profile' message.profile.pk %}">
                            {% if message.profile.image %}
                                <img src="{{ message.profile.image.url }}" alt="{{ message.profile.fname }} {{ message.profile.lname }}" class="news-feed-profile-image">
                            {% else %}
                                <img src="https://picsum.photos/400/300" alt="Default Profile Image" class="news-feed-profile-image">
                            {% endif %}
                        </a>
                        <a href="{% url 'show_profile' message.profile.pk %}">
                            <span class="news-feed-profile-name">{{ message.profile.fname }} {{ message.profile.lname }}</span>
                        </a>
                    </div>
                    <div style="text-align: center;">
                        <div class="news-feed-status-message">
                            <p style='color: #007BFF'><strong>Status Message:</strong> {{ message.message }}</p>
                        </div>
                        <!-- Surf Session Details -->
                        {% if message.surf_session %}
                            <div class="surf-session-details">
                                <p><strong>Surf Spot:</strong> {{ message.surf_session.surf_spot }}</p>
                                <p><strong>Date:</strong> {{ message.surf_session.date|date:"F j, Y" }}</p>
                                <p><strong>Duration:</strong> {{ message.surf_session.duration }}</p>
                                <p><strong>Wave Rating:</strong> {{ message.surf_session.wave_rating }}/5</p>
                                {% if message.surf_session.notes %}
                                    <p><strong>Notes:</strong> {{ message.surf_session.notes }}</p>
                                {% endif %}
                            </div>
                        {% endif %}
                         <!-- Images -->
                        {% if message.get_images.all %}
                            <div class="news-feed-images">
                                {% for img in message.get_images %}
                                    <img src="{{ img.image_file.url }}" alt="Status Image" class="status-image">
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div style="text-align: center; margin-top: 10px;">
                        <span class="news-feed-timestamp">{{ message.timestamp|date:"F j, Y, g:i a" }}</span>
                    </div>

                    <!-- Comments Section -->
                    <div class="comments">
                        {% for comment in message.comments.all %}
                            {% include 'tide/comment.html' with comment=comment level=0 %}
                        {% endfor %}
                    </div>

                    <form method="post" action="{% url 'create_comment' status_message_id=message.id %}">
                        {% csrf_token %}
                        <button type="submit">Add Comment</button>
                    </form>
                </div>
            {% endfor %}
        {% else %}
            <p>No status messages to display.</p>
        {% endif %}
    </div>
</div>
</body>
    {% comment %} <a href="{% url 'show_profile' profile.pk %}" class="profile-button">Back to Profile</a> {% endcomment %}
{% endblock %}
