{% extends 'tide/base.html' %}
{% load static %}

{% block content %}
    <h3>WeTide</h3>

    <div class="news-feed-container">
        {% if news_feed %}
            {% for message in news_feed %}
                <div class="news-feed-item">
                    <div class="news-feed-profile-info">
                        <a href="{% url 'show_profile' message.profile.pk %}">
                            {% if message.profile.image %}
                                <img src="{{ message.profile.image.url }}" alt="{{ message.profile.fname }} {{ message.profile.lname }}" class="news-feed-profile-image">
                            {% else %}
                                <img src="https://picsum.photos/400/300" alt="Default Profile Image" class="news-feed-profile-image">
                            {% endif %}
                        </a>
                        <a href="{% url 'show_profile' message.profile.pk %}">
                            <span class="news-feed-profile-name">{{ message.profile.fname }} {{ message.profile.lname }}</span>
                        </a>
                    </div>
                    <div class="news-feed-status">
                        <p>{{ message.message }}</p>
                        <span class="news-feed-timestamp">{{ message.timestamp|date:"F j, Y, g:i a" }}</span>
                    </div>

                    {% if message.get_images.all %}
                        <div class="news-feed-images">
                            {% for img in message.get_images %}
                                <img src="{{ img.image_file.url }}" alt="Status Image" class="status-image">
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <p>No status messages to display.</p>
        {% endif %}
    </div>

    <a href="{% url 'show_profile' profile.pk %}" class="profile-button">Back to Profile</a>
{% endblock %}
