<!-- templates/tide/show_profile.html -->
{% extends 'tide/base.html' %}

{% block content %}
    <h2>{{ profile.fname }} {{ profile.lname }}</h2>
    <div class="profile-grid">
        <div class="profile-card">
            <a href="{% url 'show_profile' profile.pk %}">
                {% if profile.image %}
                    <img src="{{ profile.image.url }}" class="profile-image" alt="{{ profile.fname }} {{ profile.lname }}">
                {% else %}
                    <img src="https://picsum.photos/200/300" class="profile-image" alt="Default Profile Image">
                {% endif %}
            </a>
            <div class="profile-info">
                <div class="profile-name">{{ profile.fname }} {{ profile.lname }}</div>
                <div class="profile-city">{{ profile.city }}</div>
            </div>
        </div>
    </div>
{% endblock %}

