<!-- 
# File: all_friends.html
# Author: Paul Martin Enano (enano1@bu.edu) November 11th, 2024
# Description: A page to view all tide data and information.
-->

{% extends 'tide/base.html' %}

{% block content %}
<body class="location-body">
    <div class="location-content-wrapper" style="margin-top: 70px; margin-bottom: 70px;">
        <a href="javascript:history.back()" class="profile-button">Go Back</a>

        <h1>Tide Data for Station {{ station_id }}</h1>
        <h2>Key Insights</h2>
        <ul style="list-style-type: none;">
            {% if max_tide and min_tide %}
                <li><strong>Highest Tide:</strong> {{ max_tide.t }} at {{ max_tide.v }} meters</li>
                <li><strong>Lowest Tide:</strong> {{ min_tide.t }} at {{ min_tide.v }} meters</li>
            {% else %}
                <li>No tide data available for this date.</li>
            {% endif %}
        </ul>

        <h2>Check Surfing Times for a Specific Day</h2>
        <form method="GET" action="{% url 'tide_data' station_id %}" class="tide-form">
            <label for="date">Select Date:</label>
            <input type="date" id="date" name="date" value="{{ selected_date }}" required>
            <button type="submit">Get Data</button>
        </form>

        <h2>Understanding Tides</h2>
        <p><strong>Spring Tides:</strong> Occur during the full and new moon phases...</p>
        <p><strong>Neap Tides:</strong> Occur during the first and third quarter moon phases...</p>
        <p>If you want to learn more about tides, <a href="{% url 'tide_info' %}">click here</a>.</p>

        <h3>Recommended Surfing Times:</h3>
        {% if optimal_times %}
            <ul id="surfing-times" style="list-style-type: none;">
                {% for time in optimal_times %}
                    <li>{{ time.t }} - {{ time.v }} meters</li>
                {% endfor %}
            </ul>
        
            <div class="pagination">
                <span class="step-links">
                    {% if optimal_times.has_previous %}
                        <a class="profile-button" href="?page={{ optimal_times.previous_page_number }}&date={{ selected_date }}">Previous</a>
                    {% endif %}
        
                    <span class="current">
                        Page {{ optimal_times.number }} of {{ optimal_times.paginator.num_pages }}
                    </span>
        
                    {% if optimal_times.has_next %}
                        <a class="profile-button" href="?page={{ optimal_times.next_page_number }}&date={{ selected_date }}">Next</a>
                    {% endif %}
                </span>
            </div>
        {% else %}
            <p>No recommended surfing times available.</p>
        {% endif %}
        
        <p><em>Tip: Tide shifts approximately 50 minutes later each day...</em></p>

        <h2>Plot of Tide Heights</h2>
        <div id="tide-graph">
            {{ graph_html|safe }}
        </div>

    </div>
    {% endblock %}
