<!-- templates/mini_fb/update_profile_form.html -->
{% extends 'tide/base.html' %}

{% block content %}
    <div class="form-container">
        <h2>Update Profile</h2>
        <form method="POST" enctype="multipart/form-data" class="styled-form">
            {% csrf_token %}
            {{ form.as_p }}
            <br><br>
            <button type="submit" class="profile-button">Update Profile</button>
        </form>

        <a href="{% url 'show_profile' request.user.profile.pk %}" class="profile-button">Back to profile</a>
    </div>
{% endblock %}
