<!-- 
# File: update_surf_session_form.html
# Author: Paul Martin Enano (enano1@bu.edu) November 13th, 2024
# Description: A page to update the surf session information.
-->

{% extends 'tide/base.html' %}
{% block content %}
<body class="location-body">
    <div class="location-content-wrapper">
<h2>Update Surf Session</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save Changes</button>
</form>
<a href="{% url 'surf_sessions' %}">Cancel</a>
</div>
</body>
{% endblock %}
