<!-- 
# File: all_friends.html
# Author: Paul Martin Enano (enano1@bu.edu) November 11th, 2024
# Description: A page to update the status.
-->

{% extends 'tide/base.html' %}

{% block content %}
<body class="forms-body">
<div class="content-wrapper">
    <div class="forms">
        <h2>Update Status Message</h2>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Update Status</button>
        </form>

        <a href="{% url 'show_profile' status_message.profile.pk %}" class="cancel-button">Cancel</a>
    </div>
</div>
</body>
{% endblock %}
