<!-- 
# File: all_friends.html
# Author: Paul Martin Enano (enano1@bu.edu) November 13th, 2024
# Description: A page to view all the surf sessions of yours.
-->

<!-- tide/templates/tide/surf_session_details.html -->
{% extends 'tide/base.html' %}
{% block content %}
<body class="location-body">
    <div class="location-content-wrapper">
        <h2>Surf Session Details</h2>
        <p><strong>Spot:</strong> {{ surf_session.surf_spot.nickname }}</p>
        <p><strong>Date:</strong> {{ surf_session.date }}</p>
        <p><strong>Duration:</strong> {{ surf_session.duration }}</p>
        <p><strong>Wave Rating:</strong> {{ surf_session.wave_rating }}/5</p>
        <p><strong>Notes:</strong> {{ surf_session.notes|default:"No notes provided" }}</p>

        <a href="{% url 'dashboard' %}" class="profile-button">Back to Dashboard</a>
    </div>
</body>
{% endblock %}

